@{
    ViewBag.Title = "Lab 21 Coffee Shop";
}

<div class="jumbotron">
    <h1>Lab 21</h1>
    <p class="lead">Don't have an account?</p>
    <p class="lead">@Html.ActionLink("Register", "Register", "Home")</p>
</div>
@Html.ActionLink("CheckDB", "CheckDB", "Home")