
@{
    ViewBag.Title = "Create new account";
}

<h1>@ViewBag.Title</h1>
<form id="register" action="/Home/TryRegister" method="post">
    Entries with * are required.<br />
    *Username: <input type="text" required name="user" pattern="{1,20}" title="Between 1 and 20 characters." /><br />
    *Password: <input type="password" required name="password" pattern="{1,20}" title="Between 1 and 20 characters." /><br /> @*gonna add name and stuff when we start making it save the stuff*@
    *Email: <input type="email" required name="email" pattern="{1,50}" title="50 characters maximum." /><br />
    Date of birth: <input type="date" name="dob" /><br />
    Favorite color: <input type="color" name="color" /><br />
    Does pineapple belong on pizza?<br />
    <input type="radio" id="pineapple" value="no" name="pineapple" />No<br />
    <input type="radio" id="pineapple" value="yes" name="pineapple" />Yes<br />
    <input type="submit" value="Create account" />
</form>